* {
    margin: 0;
    padding: 0;

}

body {
    background-color: aqua;
    font-size: 15px;
    line-height: 1.7rem;
    padding-bottom: 10px;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
    padding: 20px auto;
}


label {
    display: inline-block;
    width: 180px;

}



input[type="text"] {
    width: 50%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;

}


.container {
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

header {
    border-bottom: 3px solid #f4f4f4;
}

footer {
    border-top: 3px solid #f4f4f4;
    text-align: center;
    padding-top: 5px;
}


main {
    padding: 20px auto;
}

.current {
    padding: 10px;
    background: #f4f4f4;
    border: 1px dotted #ccc;
    margin: 20px 0 10px 0;
}



@media only screen and (max-width:900) {
    .container{
        width: 80%;
    }
}





